* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #0b1d3a; /* biru tua */
  color: black;
}

/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
  background: #0b1d3a;
  color: white;
}

nav a {
  color: white;
  margin-left: 15px;
  text-decoration: none;
}

/* HERO */
.hero {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 50px;
  flex-wrap: wrap;
}

.hero .text h1 {
  color: white;
  font-size: 40px;
}

.hero .text p {
  color: #ddd;
  margin: 10px 0;
}

.hero button {
  padding: 10px 20px;
  background: white;
  color: black;
  border: none;
  cursor: pointer;
}

.hero img {
  width: 300px;
}

/* INFO */
.info {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.card {
  background: white;
  margin: 10px;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

/* LOGIN */
.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: black;
}

.login-box {
  background: #0b1d3a;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
}

.login-box h2 {
  color: orange; /* vibe Naruto */
}

.login-box input {
  display: block;
  margin: 10px auto;
  padding: 10px;
  width: 200px;
}

.login-box button {
  background: orange;
  border: none;
  padding: 10px;
  cursor: pointer;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    text-align: center;
  }

  .hero img {
    width: 200px;
  }
}
